<div class="row">
<div class="col-md-8">
<div class="page-header">
  <h1>記事一覧</h1>
</div>
</div>
</div>

<div class="row">
<div class="col-md-8">
<table class="table table-striped">
  <tbody>
    <% @nikkis.each do |nikki| %>
      <tr>
        <td><%= nikki.created_at.strftime("%Y-%m-%d") %></td>
        <td><%= link_to nikki.title, nikki_path(nikki) %></td>
        <td><%= limit_length(nikki.description, 50) %></td>
      </tr>  
    <% end %>
  </tbody>
</table>
<%= paginate @nikkis %>
</div>

<div class="col-md-4">
<%= link_to '日記を書く', new_nikki_path, class: 'btn btn-success btn-block' %>
</div>
</div>
